<div class="trp-banner">
    <app-trp-head [headTitle]="'Editorial'"></app-trp-head>
    <div class="trp-featured trp-box">
        <div class=" trp-form-row row">
            <div class="col-2">
                Heading:
            </div>
            <div class="col-10">
                <input type="text" [(ngModel)]="editorialInfo.heading" name="heading" class="form-control"
                    placeholder="Heading">
            </div>
        </div>
        <div class=" trp-form-row row">
            <div class="col-2">
                Article:
            </div>
            <div class="col-10">
                <angular-editor [(ngModel)]="editorialInfo.article" [config]="config"> </angular-editor>
            </div>
        </div>
    </div>
</div>