.trp-side-modal {
  &-wrp {
    position: fixed;
    top: 0;
    right: 0;
    background: #00000066;
    display: flex;
    justify-content: flex-end;
    width: 0;
    height: 100%;
    z-index: 1020;
    transition: all ease 0.5s;
    .active {
      width: 100%;
    }
  }
  width: 100%;
  max-width: 400px;
  height: 100%;
  overflow: auto;
  background: #ffffff;
  &-content {
    height: calc(100% - 52px);
  }
  &-buttons {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #cccccc;
    button {
      border: none;
      padding: 5px 15px;
      margin-left: 10px;
    }
  }
}
