<div>
    <div class="idva-taskbar">
        <div class="row">
            <div class="col-6 idva-flex idva-align">
                <a class="idva-taskbar-icon idva-taskbar-icon-mr" [routerLink]="['/book']">
                    <i class="cis-arrow-left"></i>
                </a>
                <h1 class="trp-title">
                    Add Book
                </h1>
            </div>
            <div class="col-6 text-right idva-flex idva-flex-end">
                <div class="idva-taskbar-icon"><i class="cil-save"></i></div>
                <div class="idva-taskbar-icon"><i class="cil-pencil"></i></div>
                <div class="idva-taskbar-icon"><i class="cil-trash"></i></div>
                <div class="idva-taskbar-icon"><i class="cil-save"></i></div>
            </div>
        </div>
    </div>
    <div class="trp-contain-wrp">
        <app-banner-selection [selectedBanner]="selectedBanner" [updatedSelectedBanner]="updatedSelectedBanner"
            [statusBannerModal]="statusBannerModal" [changeStatusBannerModal]="changeStatusBannerModal">
        </app-banner-selection>
        <br />
    </div>
</div>