.find {
  margin: 10px 0 -10px;
  display: inline-block;
  color: #000000;
  border: 1px solid #d3273f;
  padding: 5px 25px;
  &-r {
    &-w {
      display: flex;
      flex-wrap: wrap;
      padding: 0 15px;
    }
    &-h {
      width: 100%;
      background: #cccccc;
      padding: 10px 0;
    }
    &-b,
    &-h {
      width: 100%;
      p {
        margin: 0;
      }
    }
    &-b {
      padding: 5px 0;
      border-bottom: 1px solid #cccccc;
      &-w {
        width: 100%;
        max-height: calc(100vh - 165px);
        overflow: auto;
      }
    }
  }
  &-select {
    margin: 0;
  }
}
