<div class="trp-banner">
  <app-trp-head [headTitle]="'Featured Series'">
    <div class="idva-taskbar-icon"><i class="cil-plus"></i></div>
  </app-trp-head>
  <div class="trp-form-list trp-box">
    <div class="trp-form-list-item">
      <div class="trp-form-list-item-wrp">
        <div class="trp-form-list-item-image">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/trp-mrk-frb-prod.appspot.com/o/giggles12.png?alt=media&token=66f43a7e-8eb9-4241-8137-4c4c274fcec4"
            alt="">
        </div>
        <div class="trp-form-list-item-info">
          <h3>Series title</h3>
          <p>Series description</p>
        </div>
      </div>
      <div class="trp-form-list-item-option">
        <div class="idva-taskbar-icon"><i class="cil-pencil"></i></div>
        <div class="idva-taskbar-icon"><i class="cil-trash"></i></div>
      </div>
    </div>
    <div class="trp-form-list-item">
      <div class="trp-form-list-item-wrp">
        <div class="trp-form-list-item-image">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/trp-mrk-frb-prod.appspot.com/o/giggles12.png?alt=media&token=66f43a7e-8eb9-4241-8137-4c4c274fcec4"
            alt="">
        </div>
        <div class="trp-form-list-item-info">
          <h3>Series title</h3>
          <p>Series description</p>
        </div>
      </div>
      <div class="trp-form-list-item-option">
        <div class="idva-taskbar-icon"><i class="cil-pencil"></i></div>
        <div class="idva-taskbar-icon"><i class="cil-trash"></i></div>
      </div>
    </div>
    <div class="trp-form-list-item">
      <div class="trp-form-list-item-wrp">
        <div class="trp-form-list-item-image">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/trp-mrk-frb-prod.appspot.com/o/giggles12.png?alt=media&token=66f43a7e-8eb9-4241-8137-4c4c274fcec4"
            alt="">
        </div>
        <div class="trp-form-list-item-info">
          <h3>Series title</h3>
          <p>Series description</p>
        </div>
      </div>
      <div class="trp-form-list-item-option">
        <div class="idva-taskbar-icon"><i class="cil-pencil"></i></div>
        <div class="idva-taskbar-icon"><i class="cil-trash"></i></div>
      </div>
    </div>
  </div>
</div>
<app-trp-side-modal></app-trp-side-modal>